.header {
  display: flex;
  background-color: #44433e;
  height: 120px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-content-container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 9px;
  margin-right: 9px;
}

.menu-item-container:first-child {
  margin-left: 0;
}

.menu-item-container:last-child {
  margin-right: 0;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 13px;
  color: #b8b8b8;
}

.menu-item:hover {
  color: #18cfab;
  text-decoration: none;
  border-bottom: 2px solid #18cfab;
}

.menu-container {
  display: block;
  height: 100%;
}

.content {
  display: flex;
  height: 893px;
  background-color: #3c3c3c;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  padding-top: 247px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-name-h2 {
  font-size: 35px;
  color: #ffffff;
}

.main-color-text {
  color: #18cfab;
}

.text-name-h1 {
  font-size: 79px;
  color: #ffffff;
}

.text-name-h3 {
  color: #d4d4d4;
  font-size: 34px;
}

.btn {
  width: 166px;
  height: 65px;
  /*border: none;*/
}

.btn-left {
  background-color: #18cfab;
  color: #eaf9f5;
  border-top: 5px solid #EAF9F4;
  font-size: 13px;
  margin-right: 15px;
}


.btn-right {
  background-color: #00cbf6;
  color: #ddf5fd;
  border-top: 5px solid #EAF9F4;
  font-size: 13px;
  margin-left: 15px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 148px;
}


.container-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-4-block {
  display: flex;
  flex-direction: row;
  height: 375px;
}

.block-dark {
  background-color: #1c2a33;
  border-top: 7px solid #18cfab;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block-light {
  background-color: #18cfab;
  border-top: 7px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding-bottom: 59px;
}

.text-inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  color: #ffffff;
  font-size: 20px;
  position: relative;
  right: 5%;
}

.text-inside-dark {
  color: #18cfab;
}

.amazing-features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 831px;
  flex-wrap: wrap;
}


.features-block {
  padding-right: 52px;
  padding-left: 52px;
  margin-top: 53px;
  margin-bottom: 53px;
  font-size: 14px;
}

.font-size-text-amazing {
  font-size: 18px;
}

.font-size-text-amazing:hover {
  color: #18cfab;
  text-decoration: none;
  cursor: pointer;
}

.amazing-block-name {
  position: relative;
  font-size: 36px;
  margin-top: 101px;
  margin-bottom: 37px;
}


.amazing-img-item {
  padding-right: 34px;
}

.hr-line {
  margin-top: 1px;
  margin-bottom: 1px;
}

.hr-underline {
  position: relative;
  right: 12px;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 677px;
  background-color: #090f14;
}

.about-block-name {
  position: relative;
  font-size: 36px;
  margin-top: 101px;
  margin-bottom: 37px;
  color: #ffffff;
}

.about-hr {
  margin-left: 140px;
}

.tab-content {
  color: #ddf5fd;
}

.nav-pills-block {
  margin-top: 84px;
}

.nav-item-item:first-child {
  margin-left: 0;
}

.nav-item-item:last-child {
  margin-right: 0;
}

.nav-link:hover {
  color: #18cfab;
  text-decoration: none;
  cursor: pointer;
}

.nav-link {
  color: #f5f5f5;
}

.nav-item:hover {
  color: #18cfab;
  text-decoration: none;
  border-top: 2px solid #18cfab;
}

.nav-item {
  padding-right: 20px;
  font-size: 16px;
}


