.header {
  display: flex;
  background-color: #44433e;
  height: 120px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo-container {

}

.header-content-container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 9px;
  margin-right: 9px;
}

.menu-item-container:first-child {
  margin-left: 0;
}

.menu-item-container:last-child {
  margin-right: 0;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 13px;
  color: #b8b8b8;
}

.menu-item:hover {
  color: #18cfab;
  text-decoration: none;
  border-bottom: 2px solid #18cfab;
}

.menu-container {
  display: block;
  height: 100%;
}

.content {
  display: flex;
  height: 893px;
  background-color: #3c3c3c;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  padding-top: 247px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-name-h2 {
  font-size: 35px;
  color: #ffffff;
}

.main-color-text {
  color: #18cfab;
}

.text-name-h1 {
  font-size: 79px;
  color: #ffffff;
}

.text-name-h3 {
  color: #d4d4d4;
  font-size: 34px;
}

.btn {
  width: 166px;
  height: 65px;
  /*border: none;*/
}

.btn-left {
  background-color: #18cfab;
  color: #eaf9f5;
  border-top: 5px solid #EAF9F4;
  font-size: 13px;
}


.btn-right {
  background-color: #00cbf6;
  color: #ddf5fd;
  border-top: 5px solid #EAF9F4;
  font-size: 13px;
}

.button-container {
  width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 148px;
}

.container-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-4-block {
  display: flex;
  flex-direction: row;
  height: 375px;
}

.block-dark {
  background-color: #1c2a33;
  border-top: 7px solid #18cfab;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block-light {
  background-color: #18cfab;
  border-top: 7px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding-bottom: 59px;
}

.text-inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  color: #ffffff;
  font-size: 20px;
  position: relative;
  right: 36px;
}

.text-inside-dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  color: #18cfab;
  font-size: 20px;
  position: relative;
  right: 36px;
}

.amazing-features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 831px;
  flex-wrap: wrap;
}


.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}

.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
/ / Default to full width padding: 0.8 em 1.2 em;
  overflow: hidden;
/ / Or flex might break list-style: none;
  padding-top: 104px;
}

.Rtable--3cols > .Rtable-cell {
  width: 33.33%;
}
